<?xml version="1.0" ?>
<protocol type="OZW">
	<devices>
		<device>
			<type>switch</type>
			<name>2-SWITCH BINARY-user-bool-1-0</name>
		</device>
	</devices>
</protocol>
<protocol type="LIRC">
	<host name="local" addr="0">
		<remote>
			<desc>TEST</desc>
				<btn>
					<name>KEY_UP</name>
					<onclick>SEND_ONCE</onclick>
					<ondown>SEND_START</ondown>
					<onup>SEND_STOP</onup>
				</btn>
				<btn>
					<name>KEY_PLAY</name>
					<onclick>SEND_ONCE</onclick>
					<onup>SEND_ONCE</onup>
				</btn>
		</remote>
	</host>
</protocol>
<protocol type="WebDev">
	<device name="Roku" addr="http://192.168.1.116:8060/">
		<btn>
			<name>KEY_RIGHT</name>
			<onclick>keypress/right</onclick>
			<ondown>keydown/right</ondown>
			<onup>keyup/right</onup>
		</btn>
	</device>
</protocol>